{% extends 'base.html' %}
{% block title %}
    Register
{% endblock%}

{% block content %}
    <h1>Create an account</h1>
        <form class="login_form" method="POST">
        {% csrf_token %}
        <label>Name: </label>
        <input type="text" class="input_field" name="name" required/>

        <label>Email: </label>
        <input type="email" class="input_field" name="email" required/>

        <label>Password: </label>
        <input type="password" class="input_field" name="password" required/>

        <button type="submit">Submit</button>
    </form>
{% endblock %}