
body{ 
    padding : 0px;
    margin : 0px;
    background-color: rgb(174, 174, 174);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

header{
    display: flex;
    justify-content: space-around;
    background-color: white;
}

main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
main > div {

    width: 100%;          
}

aside {
    padding: 1rem;
}


section {
    padding: 1rem;
}

.top-layout {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.top-layout section,
.top-layout aside {
    flex: 1;  
    height: 34rem; 
}


.logo{
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    background-color: blueviolet;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center; 
}

section{
    display: flex;
    width: 100%;
    background-color: white;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

aside{
    display: flex;
    width: 100%;
    background-color: white;
    flex-direction: column;
    padding-left: 1rem;
}
ul{
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style: none;
}

nav ul li:first-child{ /*Pseudo Class*/
    font-weight: bold;
}

.fm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    width: 100%;   
    gap: 1rem;
}
form input{
    width: 70%;
    height: 3rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(111, 110, 110);
    padding-left: 1rem;
    font-size: 1.5rem;
}
form input::placeholder{
    font-size: 1.5rem;
}
form label {
    width: 70%;
    font-size: 1.5rem;
}
.purple-btn {
  background-color: purple; 
  color: white;             
  padding: 1rem 2rem ;       
  border: none;             
  border-radius: 0.5rem;    
  font-size: 1.2rem;        
  cursor: pointer;          
}

ol{
    font-size: 1.5rem;
    list-style-type: lower-roman;
}

dl{
    font-size: 1.5rem;
}

dt, dd {
  display: inline;
  margin: 0;
}

dd::after { 
  content: "\A";
  white-space: pre;
}
td, th, tr{
    border: 1px solid black !important;
    font-size: 1.5rem;
    text-align: center;
}

table{
    border-collapse: collapse;
    width: 70%;
}
.box_model{
    display: flex;
    gap: 0;
}

.box_model h2{
    margin-bottom: 0;
}

.box{
    margin: 3rem;
    width: 40%;
    height: 20rem;
    border: 1px solid black;
    padding: 3rem;
}

section.multimedia {
    height: 30rem;     
 
}

section.multimedia article {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.media-img {
    width: 400px;
    height: 300px;
    object-fit: cover;
}

.media-video {
    width: 500px;
    height: 300px;
}

footer{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

