#root{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

header, section, footer, nav{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

section{
  flex-direction: column;
  min-height: 25rem;
}

ul{
  list-style: none;
  font-size: 1.5rem;
  display: flex;
  gap: 2rem;
}