body{
    background-color: rgb(159, 158, 158);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

header, section, footer{
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

section{
    min-height: 35rem;
    flex-direction: column;
    padding: 1rem;
}

header, footer{
    height: 4rem;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    font-size: 1.5rem;
    width: 8rem;
    height: 4rem;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
}

a:hover{
    background-color: rgb(90, 90, 227);
}