body{
    background-color: rgb(108, 106, 106);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

header, section, footer, nav{
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
}

header{
    justify-content: space-around;
}

.burger{
    border: none;
    background-color: white;
    font-size: 2.5rem;
}

nav{
    display: none;
}

nav ul{
    font-size: 1.5rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

section{
    flex-direction: column;
    gap:1rem;
    padding: 1.5rem;
    height: 30rem;
}

.modal_container{
    display: none;
    position: fixed;
    flex-direction: column;
    width: 20%;
    border: 3px solid black;
    align-items: center;
    padding: 10rem;
    background-color: white;
    border-radius: 1rem;
}

.modal_overlay{
    display: none;
    background-color: rgb(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
}


section button{
    padding: 1rem 2rem;
    font-size: 2rem;
    border: none;
    background-color: blueviolet;
    color: white;
}

/*
#btn_click_me:hover{
    background-color: rgb(172, 119, 222);
}
*/